/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
.playlist{
	border-style:solid
}
.center{
	text-align:center
}
.player_one{
	background-color: rgb(255, 255, 255); padding: border-radius
}
.player_two{
	background-color: rgb(255, 255, 255);
	padding: border-radius	
}
ul {
    list-style-type: none;
   /* Optional: Remove default padding */
}

li {
    list-style-type: none;
}